/** Общие классы, применимые к любому компоненту */
:root {
  /** Высота шапки */
  --header-height: 55px;
  /** Цвет шапки */
  --header-bg: #fff;
  /** Цвет выпадающего меню пользователя */
  --dropdown-bg: #efefef;

  /** Ширина левого меню при открытии */
  --sidebar-width: 250px;
  /** Цвет левого меню */
  --sidebar-bg: #3c4b64;
  /** Цвет пункта меню при наведении */
  --sidebar-hover-bg: #eff2f7;
  /** Цвет текста пункта меню */
  --sidebar-color: #fff;
  /** Цвет текста пункта меню при наведении */
  --sidebar-hover-color: #2f353a;
  /** Цвет границы группы пунктов меню */
  --sidebar-border-color: #465b7d;

  /** Цвет подвала */
  --footer-bg: #ebedef;
  /** Цвет границы подвала */
  --footer-border-color: #d8dbe0;
}

:root,
[data-bs-theme='light'],
[data-bs-theme='dark'] {
  /** Шрифты */
  --bs-body-font-size: 13px;
  --bs-body-font-family: Avenir, Helvetica, Arial, sans-serif;
}

[data-bs-theme='dark'] {
  --header-bg: var(--bs-tertiary-bg);
  --dropdown-bg: var(--bs-body-bg);

  --sidebar-bg: #283243;
  --sidebar-hover-bg: #466495;
  --sidebar-color: #fff;
  --sidebar-hover-color: #fff;
  --sidebar-border-color: #2c3e5d;

  --footer-bg: var(--bs-tertiary-bg);
  --footer-border-color: var(--bs-border-color);
}

.main-content {
  padding: var(--header-height) 0 0 0;
  display: flex;
  flex-direction: column;
}

.main-content.c-sidebar-lg-show {
  padding-left: var(--sidebar-width);

  @media only screen and (max-width: var(--bs-breakpoint-md)) {
    padding-left: 0;
  }
}

.main-content {
  background-color: var(--bs-body-bg);
}

.c-header-light {
  background-color: var(--header-bg);
  border-bottom-color: var(--bs-border-color);
}

.c-footer {
  background-color: var(--footer-bg);
  border-top-color: var(--footer-border-color);
  color: var(--bs-body-color);

  .medics {
    color: var(--bs-body-color);
  }
}

.dropdown-content {
  background-color: var(--dropdown-bg);
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);

  a {
    color: var(--bs-body-color);

    &:hover {
      color: rgb(var(--bs-link-color-rgb));
      background-color: var(--bs-tertiary-bg);
    }
  }
}

.c-sidebar-fixed {
  color: inherit !important;
  background-color: var(--sidebar-bg);

  .menu_title {
    color: var(--sidebar-color);
    border-bottom-color: var(--sidebar-border-color);
  }

  a {
    color: var(--sidebar-color) !important;
    text-decoration: none;

    &.active li,
    li:hover {
      color: var(--sidebar-hover-color) !important;
      background-color: var(--sidebar-hover-bg) !important;
    }
  }
}
